---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h2>{frontmatter.title}</h2>
  <p>
    Written by {frontmatter.author} Published on {
      frontmatter.pubDate.slice(0, 10)
    }
  </p>

  <img src={frontmatter.image.url} width='300' alt={frontmatter.image.alt} />
  <p>{frontmatter.description}</p>

  <slot />
</BaseLayout>
